.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*To Handle input-group in small devices*/
@media (max-width: 480px) {
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: block;
    margin-bottom: 10px;
    clear: both;
    }
.input-group {
    display: block;
    }
.input-group button{
  margin:auto
}
}
/*To Handle input-group in small devices*/

.link,
a,
a label {
    cursor: pointer;
}

.hstrike:hover{text-decoration: line-through}
.active{    color: #fff;
    background-color: #286090;
    border-color: #204d74;}
